<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manners Matter</title>
    <link rel="icon" type="image/x-icon" href="../views/images/favicon.png">
    <link rel="stylesheet" href="../views/styles/style.css">
    <link rel="stylesheet" href="../views/styles/advices.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../controllers/index_controller.php">Manners Matter</a>
      </div>
      <div class="title">
         Advices
      </div>
      <div class="profile">
        <div class="username">
          <a href="../controllers/login_controller.php">Login</a>
        </div>
        <div class="dropdown_profile">
          <div class="avatar">
          </div>

          <div class="dropdown_content">
            <a href="../controllers/profile_controller.php">My Profile</a>
            <a href="../controllers/login_controller.php">Logout</a>
          </div>
        </div>
      </div>

  </header>
    <main>
      <nav>
        <ul>
          <li>
            <a href="../controllers/index_controller.php">Home</a>
          </li>
          <li>
            <a href="../controllers/profile_controller.php">Profile</a>
          </li>
          <li>
            <a href="../controllers/advices_controller.php">Advices</a>
          </li>
          <li>
            <a href="../controllers/challenge_controller.php">Challenge</a>
          </li>
          <li>
            <a href="../controllers/ranking_controller.php">Ranking</a> 
          </li>
          <li>
            <a href="../controllers/about_controller.php">About</a>
          </li>
          <li>
            <a href="../controllers/contact_controller.php">Contact</a>
          </li>
        </ul>
      </nav>
      
        
        <div class="div_articles">
          <form>
            <fieldset>
              <legend>Please select what fits you the best:</legend>
              <div>
                <p>Age:</p>
                <input type="checkbox" id="age1" name="age1" value="teenager" >
                <label for="age1">Teenager</label>
          
                <input type="checkbox" id="age2" name="age2" value="adult" >
                <label for="age2">Adult</label>
          
                <input type="checkbox" id="age3" name="age3" value="elder" >
                <label for="age3">Elder</label>

                <br>
                <p>Ocupation:</p>
                <input type="checkbox" id="ocupation1" name="ocupation1" value="student" >
                <label for="ocupation1">Student</label>
          
                <input type="checkbox" id="ocupation2" name="ocupation2" value="employed" >
                <label for="ocupation2">Employed</label>
          
                <input type="checkbox" id="ocupation3" name="ocupation3" value="unemployed" >
                <label for="ocupation3">Unemployed</label>

                <br>
                <p>Context:</p>
                <input type="checkbox" id="context1" name="context1" value="academic" >
                <label for="context1">Academic</label>
          
                <input type="checkbox" id="context2" name="context2" value="job" >
                <label for="context2">Job</label>
          
                <input type="checkbox" id="context3" name="context3" value="free_time" >
                <label for="context3">Free time</label>

                <br>
                <p>In search for a new job:</p>
                <input type="checkbox" id="job1" name="job1" value="yes" >
                <label for="job1">Yes</label>
          
                <input type="checkbox" id="job2" name="job2" value="No" >
                <label for="job2">No</label>

                <br>
              </div>
              <div class="submit_button">
                <button type="submit">Submit</button>
              </div>
            </fieldset>
          </form>

          <div class="list_of_advices">
            <h2>List of advices:</h2>
            <ol>
              <li>In personal texts, anything goes when it comes to emojis.</li>
              <li>On social media, serious content warrants fewer emojis due to their cartoonish nature.</li>
              <li>Emojis should be used sparingly in semi formal communication.</li>
              <li>Using emojis with coworkers depends on the nature of the relationship and the subject of discussion.</li>
              <li>If your communication with a client or customer has always centered around business and nothing else, steer clear from emoji use</li>
              <li>When communicating with your boss or any higher-up, emoji use is ill-advised.</li>
              <li>In video conference mute yourself when not speaking.</li>
              <li>Be on time on meetings.</li>
              <li>Before joining a video conference ensure your technology works correctly.</li>
              <li>In a video conference wear work-appropriate clothing.</li>
              <li>In a video conference frame the camera correctly.</li>
              <li>In a video conference look into the camera.</li>
              <li>In a conference or interview pay attention.</li>
            </ol>
        </div>

      </div>


    </main>
    <footer>
        Copyright © 2023 
    </footer>
	 
  </body>
</html>