<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manners Matter</title>
    <link rel="icon" type="image/x-icon" href="../views/images/favicon.png">
    <link rel="stylesheet" href="../views/styles/style.css">
    <link rel="stylesheet" href="../views/styles/profile.css">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="../controllers/index_controller.php">Manners Matter</a>
      </div>
      <div class="title">
         Profile
      </div>
      <div class="profile">
        <div class="username">
          <a href="../controllers/login_controller.php">Login</a>
        </div>
        <div class="dropdown_profile">
          <div class="avatar">
          </div>

          <div class="dropdown_content">
            <a href="../controllers/profile_controller.php">My Profile</a>
            <a href="../controllers/login_controller.php">Logout</a>
          </div>
        </div>
      </div>

  </header>
    <main>
      <nav>
        <ul>
          <li>
            <a href="../controllers/index_controller.php">Home</a>
          </li>
          <li>
            <a href="../controllers/profile_controller.php">Profile</a>
          </li>
          <li>
            <a href="../controllers/advices_controller.php">Advices</a>
          </li>
          <li>
            <a href="../controllers/challenge_controller.php">Challenge</a>
          </li>
          <li>
            <a href="../controllers/ranking_controller.php">Ranking</a> 
          </li>
          <li>
            <a href="../controllers/about_controller.php">About</a>
          </li>
          <li>
            <a href="../controllers/contact_controller.php">Contact</a>
          </li>
        </ul>
      </nav>
      
        
        <div class="div_articles">
        
            
          <div class="profile_elements">
            <div class="upper_part">
              <div class="profile_picture">
              </div>

              <button type="button" class="edit">
                <span class="edit_icon">
                </span>
                Edit
              </button>
             
            
            </div>
            <ul>
              <li><div class="username">Username: Ben10</div></li>
              <li><div class="rank">Rank: 132</div></li>
              <li><div class="score">Score: 2230xp</div></li>
              <li><div class="name">Name: Ben Hanscom</div></li>
              <li><div class="location">Location: Roanoke, VA</div></li>
              <li><div class="age">Age: 93</div></li>
              <li><div class="sex">Sex: Male</div></li>
              <li><div class="ocupation">Ocupation: Firefighter</div></li>
            </ul>
            <button type="button" class="export">
              Export Data
           </button>  
          </div>
         
        </div>
       


    </main>
    <footer>
        Copyright © 2023 
    </footer>
	 
  </body>
</html>