body {
    margin: 0;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

html  {
    height: 100%;
}

header {
    padding: 1em;  
    background-color: rgb(148, 188, 231);  
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Logo";
    font-size: 2em;
    -webkit-text-stroke: 0.05em black;
    color:rgb(255, 255, 255)
    
}

.title {
    font-size: 1.5em;
    margin-left: -1em;
}

.profile {
    display: flex;
    align-items: center;
    padding-right: 1em;
}

.username {
    padding-right: 1em;
}

.avatar {
    border-radius: 50%;
    background-image: url("./images/avatar.png");
    width: 3.5em; 
    height: 3.5em;
    vertical-align: middle; 
    background-size: auto 100%;
    

}




main {
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100%;
    
}

nav {
     
    background-color: rgb(202, 241, 241);
    margin-left: 1.5em;
    margin-right: 1.5em;
}

ul {
     
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
     
}

li {
    padding: 1.5em;
    font-size: 1.2em;
    border-bottom: 0.2em solid rgb(205 228 241);
    width: 50%;
}
 

section {
    margin: 1em;
    background-color: rgb(255, 255, 255);
  
    width: 100%;
    box-sizing: border-box;

}

.div_articles {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    
    
}

article {
    padding-top: 2em;
     
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


footer {
    background-color: rgb(148, 188, 231);
    padding: 2em;
    bottom: 0;
    left: 0;
     
}


a {
    text-decoration: none !important;
  }

a:visited{ 
    color: rgb(0, 0, 0); 
}

 @font-face {
    font-family: Logo;
    src: url("./fonts/LilitaOne-Regular.ttf");
 }