section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2%;
    
   
}
p{
    text-align: justify;
    display:flex;
    width: 90%;

}
.attention{
    color:red;
    font-size: 1em;
    font-weight: bold;
    margin-top:1em;
}
.info-challenge{
    display: flex;
    margin-top: 4em;
    
}
form label input{
 display:flex;
 justify-content: space-between;
}
label{
    margin-right: 3em;
}
img{
    float:left;
    height: 70%;
    width: 20em;
}
span input{
    width: 10em;
    height:5em;
    background-color: rgb(117, 114, 139);
    border-radius: 25%;
    margin-left: 5em;
    font-weight: bold;
}

nav ul li:nth-child(4){
    border-bottom: 0.2em solid rgb(181, 209, 224);
}

nav ul li:nth-child(4) a{
    color: white;
}